In [177]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [178]:
# VOLLEY BALL

In [179]:
# Brooklyn College Men’s Volleyball Team 
URL1 = "https://www.brooklyncollegeathletics.com/sports/mens-volleyball/roster/2019"
page1 = requests.get(URL1)
soup1 = BeautifulSoup( page1.content , 'html.parser')

In [180]:
brooklynVolleyMenHeight=[]
brooklynVolleyMenNames=[]
for height in soup1.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        brooklynVolleyMenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup1.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        brooklynVolleyMenNames.append(player_name[0])
    except:
        pass
brooklynVolleyMen=list(zip(brooklynVolleyMenNames,brooklynVolleyMenHeight))

dfBrooklynVolleyMen = pd.DataFrame (brooklynVolleyMen, columns = ['Names','Height']) 
print(dfBrooklynVolleyMen)

               Names  Height
0      Snigdho Hasan    5.50
1  Michael  Valentin    5.90
2      Andres Vargas    6.00
3     Jasper Diangco    5.10
4    Sayuj Zachariah    6.20
5       Omar  Rezika    6.20
6     Gabriel Pjatak    6.30
7       Ryan  Chabel    5.11
8   Utku  Tanritanir    6.00

In [181]:
# Brooklyn College Women’s Volleyball Team 
URL2 = "https://www.brooklyncollegeathletics.com/sports/womens-volleyball/roster/2019"
page2 = requests.get(URL2)
soup2 = BeautifulSoup( page2.content , 'html.parser')

In [182]:
brooklynVolleyWomenHeight=[]
brooklynVolleyWomenNames=[]
for height in soup2.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        brooklynVolleyWomenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup2.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        brooklynVolleyWomenNames.append(player_name[0])
    except:
        pass
brooklynVolleyWomen=list(zip(brooklynVolleyWomenNames,brooklynVolleyWomenHeight))

dfBrooklynVolleyWomen = pd.DataFrame (brooklynVolleyWomen, columns = ['Names','Height']) 
print(dfBrooklynVolleyWomen)

                       Names  Height
0             Inesa Shimcani    5.50
1                Ashley Fung    5.70
2                 Rain Zhang    5.60
3        Yana Shaposhnikova     5.30
4                 Ezri  Shor    5.50
5              Madison Cronk    5.11
6                 Laurie Lee    5.20
7           Nohelia  Cedeno     5.80
8             Alejandra Chen    5.70
9   Savanna Koutsakis-Keener    5.10
10            Alanis Guinada    5.40
11     Megan Ortiz-Mengedoht    5.10
12              Kate Meltsin    5.40

In [183]:
# Baruch College Men’s Volleyball Team
URL3 = "https://athletics.baruch.cuny.edu/sports/mens-volleyball/roster"
page3 = requests.get(URL3)
soup3 = BeautifulSoup( page3.content , 'html.parser')

In [184]:
baruchVolleyMenHeight=[]
baruchVolleyMenNames=[]
for height in soup3.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        baruchVolleyMenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup3.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        baruchVolleyMenNames.append(player_name[0])
    except:
        pass
baruchVolleyMen=list(zip(baruchVolleyMenNames,baruchVolleyMenHeight))

dfBaruchVolleyMen = pd.DataFrame (baruchVolleyMen, columns = ['Names','Height']) 
print(dfBaruchVolleyMen)

                  Names  Height
0            QiQin Zeng     5.9
1       Andrew Tsororos     6.4
2          Steven Lopez     6.0
3          Sonam Dorjee     5.1
4       Edward Grinberg     6.2
5       David Sirchenko     6.3
6      Stallone Shankar     6.0
7   Rabsang Andrugtsang     5.1
8            Hanbin Lee     5.9
9          Artem Zinkin     6.5
10      Michael Higgins     6.4
11     Carlos Rodriguez     6.4
12     Leon Petrovitsky     6.5
13           Defeng Han     6.1
14           Evan Takos     6.3
15        Meni Musheyev     6.3
16      Justin Iloulian     6.2

In [185]:
# Baruch College Women’s Volleyball Team 
URL4 = "https://athletics.baruch.cuny.edu/sports/womens-volleyball/roster"
page4 = requests.get(URL4)
soup4 = BeautifulSoup( page4.content , 'html.parser')

In [186]:
baruchVolleyWomenHeight=[]
baruchVolleyWomenNames=[]
for height in soup4.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        baruchVolleyWomenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup4.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        baruchVolleyWomenNames.append(player_name[0])
    except:
        pass
baruchVolleyWomen=list(zip(baruchVolleyWomenNames,baruchVolleyWomenHeight))

dfBaruchVolleyWomen = pd.DataFrame (baruchVolleyWomen, columns = ['Names','Height']) 
print(dfBaruchVolleyWomen)

                  Names  Height
0       Fernanda Zamora     5.4
1       Mariely Taveras     5.7
2       Amina Muminovic     5.6
3       Isabella Doring     5.7
4           Sarah Chung     5.6
5           Young Gi Go     5.0
6       Anesa Feratovic     5.8
7             Sofia Tam     5.2
8       Julia Perkowski     6.0
9        Minami Ebihara     5.3
10              Ada Cao     5.6
11  Jaylen Herchenroder     5.3

In [187]:
# York College Men’s Volleyball Team
URL5 = "https://yorkathletics.com/sports/mens-volleyball/roster"
page5 = requests.get(URL5)
soup5 = BeautifulSoup( page5.content , 'html.parser')

In [188]:
yorkVolleyMenHeight=[]
yorkVolleyMenNames=[]
for height in soup5.find_all( class_ = "height" ):
    try:
        num=height.contents[0].split("-")[0]
        frac=height.contents[0].split("-")[1]
        yorkVolleyMenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
    
names=soup5.find_all(class_="sidearm-table-player-name")
for name in names:
    try:
        yorkVolleyMenNames.append(name.contents[1].contents[0])
    except:
        pass
yorkVolleyMen=list(zip(yorkVolleyMenNames,yorkVolleyMenHeight))

dfYorkVolleyMen = pd.DataFrame (yorkVolleyMen, columns = ['Names','Height']) 
print(dfYorkVolleyMen)

                   Names  Height
0             John Vitor     5.6
1         Juan Rodriguez     5.6
2           Shawn Nemoto     5.7
3           Erick Ortega     5.8
4            Akil Vaughn     6.5
5            Justin Saji     5.1
6      Jayden Deokinanan     5.4
7        Mambe Koureissi     6.4
8   Anthony Nazario, Jr.     5.9
9           Olawale Kila     6.4
10   David Heyliger, Jr.     6.1
11   Guillermo Hernandez     6.4
12     Fatmir Glavatovic     6.0
13        Ti’Juan Boothe     5.8

In [189]:
# John Jay College Women’s Volleyball Team
URL6 = "https://johnjayathletics.com/sports/womens-volleyball/roster"
page6 = requests.get(URL6)
soup6 = BeautifulSoup( page6.content , 'html.parser')

In [190]:
johnjayVolleyWomenHeight=[]
johnjayVolleyWomenNames=[]
for height in soup6.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        johnjayVolleyWomenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup6.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        johnjayVolleyWomenNames.append(player_name[0])
    except:
        pass
johnjayVolleyWomen=list(zip(johnjayVolleyWomenNames,johnjayVolleyWomenHeight))

dfJohnjayVolleyWomen = pd.DataFrame (johnjayVolleyWomen, columns = ['Names','Height']) 
print(dfJohnjayVolleyWomen)

                Names  Height
0         Taylor Hunt     5.1
1        Amanda Marte     5.7
2        Reilly Catan     5.8
3        Meghan Smith     5.8
4         Faith Harer     6.0
5      Paige Sadowitz     6.2
6        Rylea Sandel     6.0
7     Arnela Radoncic     5.9
8    Kristin Gretener     5.6
9     Aniko Ouwendijk     5.8
10    Gabriella Sloan     5.1
11         Erika Hoti     5.8
12    Johnelle Pierre     6.1
13  Catharine Fleming     5.9

                   Names  Height
0          Snigdho Hasan    5.50
1      Michael  Valentin    5.90
2          Andres Vargas    6.00
3         Jasper Diangco    5.10
4        Sayuj Zachariah    6.20
5           Omar  Rezika    6.20
6         Gabriel Pjatak    6.30
7           Ryan  Chabel    5.11
8       Utku  Tanritanir    6.00
0             QiQin Zeng    5.90
1        Andrew Tsororos    6.40
2           Steven Lopez    6.00
3           Sonam Dorjee    5.10
4        Edward Grinberg    6.20
5        David Sirchenko    6.30
6       Stallone Shankar    6.00
7    Rabsang Andrugtsang    5.10
8             Hanbin Lee    5.90
9           Artem Zinkin    6.50
10       Michael Higgins    6.40
11      Carlos Rodriguez    6.40
12      Leon Petrovitsky    6.50
13            Defeng Han    6.10
14            Evan Takos    6.30
15         Meni Musheyev    6.30
16       Justin Iloulian    6.20
0             John Vitor    5.60
1         Juan Rodriguez    5.60
2           Shawn Nemoto    5.70
3           Erick Ortega    5.80
4            Akil Vaughn    6.50
5            Justin Saji    5.10
6      Jayden Deokinanan    5.40
7        Mambe Koureissi    6.40
8   Anthony Nazario, Jr.    5.90
9           Olawale Kila    6.40
10   David Heyliger, Jr.    6.10
11   Guillermo Hernandez    6.40
12     Fatmir Glavatovic    6.00
13        Ti’Juan Boothe    5.80

Height    5.96525
dtype: float64

                       Names  Height
0             Inesa Shimcani    5.50
1                Ashley Fung    5.70
2                 Rain Zhang    5.60
3        Yana Shaposhnikova     5.30
4                 Ezri  Shor    5.50
5              Madison Cronk    5.11
6                 Laurie Lee    5.20
7           Nohelia  Cedeno     5.80
8             Alejandra Chen    5.70
9   Savanna Koutsakis-Keener    5.10
10            Alanis Guinada    5.40
11     Megan Ortiz-Mengedoht    5.10
12              Kate Meltsin    5.40
0            Fernanda Zamora    5.40
1            Mariely Taveras    5.70
2            Amina Muminovic    5.60
3            Isabella Doring    5.70
4                Sarah Chung    5.60
5                Young Gi Go    5.00
6            Anesa Feratovic    5.80
7                  Sofia Tam    5.20
8            Julia Perkowski    6.00
9             Minami Ebihara    5.30
10                   Ada Cao    5.60
11       Jaylen Herchenroder    5.30
0                Taylor Hunt    5.10
1               Amanda Marte    5.70
2               Reilly Catan    5.80
3               Meghan Smith    5.80
4                Faith Harer    6.00
5             Paige Sadowitz    6.20
6               Rylea Sandel    6.00
7            Arnela Radoncic    5.90
8           Kristin Gretener    5.60
9            Aniko Ouwendijk    5.80
10           Gabriella Sloan    5.10
11                Erika Hoti    5.80
12           Johnelle Pierre    6.10
13         Catharine Fleming    5.90

Height    5.574615
dtype: float64

In [193]:
# Swimming

In [194]:
# Brooklyn College Men’s Volleyball Team 
URL7 = "https://www.brooklyncollegeathletics.com/sports/mens-swimming-and-diving/roster"
page7 = requests.get(URL7)
soup7 = BeautifulSoup( page7.content , 'html.parser')

In [195]:
brooklynSwimmingMenNames=[]
brooklynSwimmingMenHeight=[]

for height in soup7.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        brooklynSwimmingMenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup7.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        brooklynSwimmingMenNames.append(player_name[0])
    except:
        pass
brooklynSwimmingMen=list(zip(brooklynSwimmingMenNames,brooklynSwimmingMenHeight))

dfBrooklynSwimmingMen = pd.DataFrame (brooklynSwimmingMen, columns = ['Names','Height']) 
print(dfBrooklynSwimmingMen)

                 Names  Height
0      Ronaldo Barrios    6.20
1         Devin Boodha    5.90
2         Nikita  Cary    5.80
3             Alec Chi    5.10
4          Peter Ebert    6.20
5      Andwele Estwick    5.11
6    Omar Hasan- Hafez    6.10
7      Christian Hoyek    6.00
8   Konstantin Lomeyko    5.80
9      Mark  MacEachen    6.40
10          James Rupa    5.10
11  Akmalijon Salimov     5.90

In [196]:
# Brooklyn College Women’s Swimming Team
URL8 = "https://www.brooklyncollegeathletics.com/sports/womens-swimming-and-diving/roster"
page8 = requests.get(URL8)
soup8 = BeautifulSoup( page8.content , 'html.parser')

In [197]:
brooklynSwimmingWomenNames=[]
brooklynSwimmingWomenHeight=[]

for height in soup8.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        brooklynSwimmingWomenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup8.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        brooklynSwimmingWomenNames.append(player_name[0])
    except:
        pass
brooklynSwimmingWomen=list(zip(brooklynSwimmingWomenNames,brooklynSwimmingWomenHeight))

dfBrooklynSwimmingWomen = pd.DataFrame (brooklynSwimmingWomen, columns = ['Names','Height']) 
print(dfBrooklynSwimmingWomen)

                  Names  Height
0        Semona Bardman    5.60
1  Angella  Christopher    5.70
2           Anna Curran    5.30
3    Rachel  Davidovich    5.40
4   Shenaika Eliassaint    5.11
5          Julie  Huang    5.10
6      Natalia Mrzyglod    5.50
7        Stella  Ryklis    5.60
8         Alyssa Taylor    5.90
9           Emily  Yang    5.20

In [198]:
# Baruch College Men’s Swimming Team 
page9 = requests.get("https://athletics.baruch.cuny.edu/sports/mens-swimming-and-diving/roster")
soup9 = BeautifulSoup( page9.content , 'html.parser')

In [199]:
baruchSwimmingMenNames=[]
baruchSwimmingMenHeight=[]

for height in soup9.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        baruchSwimmingMenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup9.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        baruchSwimmingMenNames.append(player_name[0])
    except:
        pass
baruchSwimmingMen=list(zip(baruchSwimmingMenNames,baruchSwimmingMenHeight))

dfBaruchSwimmingMen = pd.DataFrame (baruchSwimmingMen, columns = ['Names','Height']) 
print(dfBaruchSwimmingMen)

                 Names  Height
0        Yair Barrera     5.10
1     Nicholas  Blanco    5.11
2           Kevin Chen    5.90
3     Yousef  Elkhouly    6.30
4         Kasper Gacek    6.50
5         Gent Gazheli    6.00
6          Abdul  Khan    6.20
7   Fernando Marroquin    5.80
8       Eli Mogorichev    6.00
9     Dayan  Ordabayev    5.10
10       Jack Ousmanov    6.00
11        William Rose    6.20
12      Levon Safaryan    5.11
13          Ben Sionov    5.60
14      Samuel Yakubov    5.80

In [200]:
# -Baruch College Women’s Swimming Team 
page10 = requests.get("https://athletics.baruch.cuny.edu/sports/womens-swimming-and-diving/roster")
soup10 = BeautifulSoup( page10.content , 'html.parser')

In [201]:
baruchSwimmingWomenNames=[]
baruchSwimmingWomenHeight=[]

for height in soup10.find_all( class_ = "sidearm-roster-player-height" ):
    try:
        num=height.contents[0].split("'")[0]
        frac=height.contents[0].split("'")[1].replace('"','')
        baruchSwimmingWomenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
names=soup10.find_all(class_="sidearm-roster-player-name")
for name in names:
    try:
        player_name=name.h3.a.contents
        baruchSwimmingWomenNames.append(player_name[0])
    except:
        pass
baruchSwimmingWomen=list(zip(baruchSwimmingWomenNames,baruchSwimmingWomenHeight))

dfBaruchSwimmingWomen = pd.DataFrame (baruchSwimmingWomen, columns = ['Names','Height']) 
print(dfBaruchSwimmingWomen)

               Names  Height
0  Scarlet Astudillo     5.4
1     Maria  Fuentes     5.4
2  Joscelyn  Galindo     5.3
3        Dea Gazheli     5.3
4         Amanda Lee     5.1
5      Katherine Lee     5.2
6      Jillian Quinn     5.5
7       Aanya Shukul     5.9
8   Nicole  Tarasiuk     5.7
9        Joyce  Wong     5.4

In [202]:
# -York College Men’s Swimming Team 
page11 = requests.get("https://yorkathletics.com/sports/mens-swimming-and-diving/roster")
soup11 = BeautifulSoup( page11.content , 'html.parser')

In [203]:
yorkSwimmingMenHeight=[]
yorkSwimmingMenNames=[]
for height in soup11.find_all( class_ = "height" ):
    try:
        num=height.contents[0].split("-")[0]
        frac=height.contents[0].split("-")[1]
        yorkVolleyMenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
    
names=soup11.find_all(class_="sidearm-table-player-name")
for name in names:
    try:
        yorkSwimmingMenNames.append(name.contents[1].contents[0])
    except:
        pass
yorkSwimmingMen=list(zip(yorkSwimmingMenNames,baruchSwimmingMenHeight))

dfYorkSwimmingMen = pd.DataFrame (yorkSwimmingMen, columns = ['Names','Height']) 
print(dfYorkSwimmingMen)

                  Names  Height
0        Ti’Juan Boothe    5.10
1       Jaquan Eleazard    5.11
2       Arafath Hussain    5.90
3        Anthony Jordan    6.30
4       Antonio Josephs    6.50
5    Christopher Mendez    6.00
6  Anthony Nazario, Jr.    6.20
7          Jeremy Sapeg    5.80
8         Jamaar Watson    6.00
9           Alex Winter    5.10

In [204]:
# Queens College Women’s Swimming Team 
page12 = requests.get("https://queensknights.com/sports/womens-swimming-and-diving/roster")
soup12 = BeautifulSoup( page12.content , 'html.parser')

In [205]:
QueensSwimmingWomenHeight=[]
QueensSwimmingWomenNames=[]
for height in soup12.find_all( class_ = "height" ):
    try:
        num=height.contents[0].split("-")[0]
        frac=height.contents[0].split("-")[1]
        QueensSwimmingWomenHeight.append(float(f'{num}.{frac}'))
    except:
        pass
    
    
names=soup12.find_all(class_="sidearm-table-player-name")
for name in names:
    try:
        QueensSwimmingWomenNames.append(name.contents[1].contents[0])
    except:
        pass
QueensSwimmingWomen=list(zip(QueensSwimmingWomenNames,QueensSwimmingWomenHeight))

dfQueensSwimmingWomen = pd.DataFrame (QueensSwimmingWomen, columns = ['Names','Height']) 
print(dfQueensSwimmingWomen)

                Names  Height
0   Rupakshi Aggarwal    5.10
1          Asha Besaw    5.40
2           Rory Chea    5.30
3      Claudia Cimino    5.60
4  Laura Cruz Rosario    5.30
5     Natalia Cuttler    5.10
6       Jillian Etnel    5.80
7      Kristen Flores    5.90
8         Alexis Hall    5.20
9        Bianca Hiltz    4.11

                   Names  Height
0        Ronaldo Barrios    6.20
1           Devin Boodha    5.90
2           Nikita  Cary    5.80
3               Alec Chi    5.10
4            Peter Ebert    6.20
5        Andwele Estwick    5.11
6      Omar Hasan- Hafez    6.10
7        Christian Hoyek    6.00
8     Konstantin Lomeyko    5.80
9        Mark  MacEachen    6.40
10            James Rupa    5.10
11    Akmalijon Salimov     5.90
0          Yair Barrera     5.10
1       Nicholas  Blanco    5.11
2             Kevin Chen    5.90
3       Yousef  Elkhouly    6.30
4           Kasper Gacek    6.50
5           Gent Gazheli    6.00
6            Abdul  Khan    6.20
7     Fernando Marroquin    5.80
8         Eli Mogorichev    6.00
9       Dayan  Ordabayev    5.10
10         Jack Ousmanov    6.00
11          William Rose    6.20
12        Levon Safaryan    5.11
13            Ben Sionov    5.60
14        Samuel Yakubov    5.80
0         Ti’Juan Boothe    5.10
1        Jaquan Eleazard    5.11
2        Arafath Hussain    5.90
3         Anthony Jordan    6.30
4        Antonio Josephs    6.50
5     Christopher Mendez    6.00
6   Anthony Nazario, Jr.    6.20
7           Jeremy Sapeg    5.80
8          Jamaar Watson    6.00
9            Alex Winter    5.10

Height    5.792973
dtype: float64

                  Names  Height
0        Semona Bardman    5.60
1  Angella  Christopher    5.70
2           Anna Curran    5.30
3    Rachel  Davidovich    5.40
4   Shenaika Eliassaint    5.11
5          Julie  Huang    5.10
6      Natalia Mrzyglod    5.50
7        Stella  Ryklis    5.60
8         Alyssa Taylor    5.90
9           Emily  Yang    5.20
0     Scarlet Astudillo    5.40
1        Maria  Fuentes    5.40
2     Joscelyn  Galindo    5.30
3           Dea Gazheli    5.30
4            Amanda Lee    5.10
5         Katherine Lee    5.20
6         Jillian Quinn    5.50
7          Aanya Shukul    5.90
8      Nicole  Tarasiuk    5.70
9           Joyce  Wong    5.40
0     Rupakshi Aggarwal    5.10
1            Asha Besaw    5.40
2             Rory Chea    5.30
3        Claudia Cimino    5.60
4    Laura Cruz Rosario    5.30
5       Natalia Cuttler    5.10
6         Jillian Etnel    5.80
7        Kristen Flores    5.90
8           Alexis Hall    5.20
9          Bianca Hiltz    4.11

In [212]:
# Men Volley Ball DF
mensVolleyDfs=[dfBrooklynVolleyMen,dfBaruchVolleyMen,dfYorkVolleyMen]
dfVolleyMen=pd.concat(mensVolleyDfs)
print(dfVolleyMen)

                   Names  Height
0          Snigdho Hasan    5.50
1      Michael  Valentin    5.90
2          Andres Vargas    6.00
3         Jasper Diangco    5.10
4        Sayuj Zachariah    6.20
5           Omar  Rezika    6.20
6         Gabriel Pjatak    6.30
7           Ryan  Chabel    5.11
8       Utku  Tanritanir    6.00
0             QiQin Zeng    5.90
1        Andrew Tsororos    6.40
2           Steven Lopez    6.00
3           Sonam Dorjee    5.10
4        Edward Grinberg    6.20
5        David Sirchenko    6.30
6       Stallone Shankar    6.00
7    Rabsang Andrugtsang    5.10
8             Hanbin Lee    5.90
9           Artem Zinkin    6.50
10       Michael Higgins    6.40
11      Carlos Rodriguez    6.40
12      Leon Petrovitsky    6.50
13            Defeng Han    6.10
14            Evan Takos    6.30
15         Meni Musheyev    6.30
16       Justin Iloulian    6.20
0             John Vitor    5.60
1         Juan Rodriguez    5.60
2           Shawn Nemoto    5.70
3           Erick Ortega    5.80
4            Akil Vaughn    6.50
5            Justin Saji    5.10
6      Jayden Deokinanan    5.40
7        Mambe Koureissi    6.40
8   Anthony Nazario, Jr.    5.90
9           Olawale Kila    6.40
10   David Heyliger, Jr.    6.10
11   Guillermo Hernandez    6.40
12     Fatmir Glavatovic    6.00
13        Ti’Juan Boothe    5.80

In [213]:
# Women Volley Ball DF
womenVolleyDfs=[dfBrooklynVolleyWomen,dfBaruchVolleyWomen,dfJohnjayVolleyWomen]
dfVolleyWomen=pd.concat(womenVolleyDfs)
print(dfVolleyWomen)

                       Names  Height
0             Inesa Shimcani    5.50
1                Ashley Fung    5.70
2                 Rain Zhang    5.60
3        Yana Shaposhnikova     5.30
4                 Ezri  Shor    5.50
5              Madison Cronk    5.11
6                 Laurie Lee    5.20
7           Nohelia  Cedeno     5.80
8             Alejandra Chen    5.70
9   Savanna Koutsakis-Keener    5.10
10            Alanis Guinada    5.40
11     Megan Ortiz-Mengedoht    5.10
12              Kate Meltsin    5.40
0            Fernanda Zamora    5.40
1            Mariely Taveras    5.70
2            Amina Muminovic    5.60
3            Isabella Doring    5.70
4                Sarah Chung    5.60
5                Young Gi Go    5.00
6            Anesa Feratovic    5.80
7                  Sofia Tam    5.20
8            Julia Perkowski    6.00
9             Minami Ebihara    5.30
10                   Ada Cao    5.60
11       Jaylen Herchenroder    5.30
0                Taylor Hunt    5.10
1               Amanda Marte    5.70
2               Reilly Catan    5.80
3               Meghan Smith    5.80
4                Faith Harer    6.00
5             Paige Sadowitz    6.20
6               Rylea Sandel    6.00
7            Arnela Radoncic    5.90
8           Kristin Gretener    5.60
9            Aniko Ouwendijk    5.80
10           Gabriella Sloan    5.10
11                Erika Hoti    5.80
12           Johnelle Pierre    6.10
13         Catharine Fleming    5.90

In [214]:
# Mens Swimming DF
mensSwimmingDfs=[dfBrooklynSwimmingMen,dfBaruchSwimmingMen,dfYorkSwimmingMen]
dfSwimmingMen=pd.concat(mensSwimmingDfs)
print(dfSwimmingMen)

                   Names  Height
0        Ronaldo Barrios    6.20
1           Devin Boodha    5.90
2           Nikita  Cary    5.80
3               Alec Chi    5.10
4            Peter Ebert    6.20
5        Andwele Estwick    5.11
6      Omar Hasan- Hafez    6.10
7        Christian Hoyek    6.00
8     Konstantin Lomeyko    5.80
9        Mark  MacEachen    6.40
10            James Rupa    5.10
11    Akmalijon Salimov     5.90
0          Yair Barrera     5.10
1       Nicholas  Blanco    5.11
2             Kevin Chen    5.90
3       Yousef  Elkhouly    6.30
4           Kasper Gacek    6.50
5           Gent Gazheli    6.00
6            Abdul  Khan    6.20
7     Fernando Marroquin    5.80
8         Eli Mogorichev    6.00
9       Dayan  Ordabayev    5.10
10         Jack Ousmanov    6.00
11          William Rose    6.20
12        Levon Safaryan    5.11
13            Ben Sionov    5.60
14        Samuel Yakubov    5.80
0         Ti’Juan Boothe    5.10
1        Jaquan Eleazard    5.11
2        Arafath Hussain    5.90
3         Anthony Jordan    6.30
4        Antonio Josephs    6.50
5     Christopher Mendez    6.00
6   Anthony Nazario, Jr.    6.20
7           Jeremy Sapeg    5.80
8          Jamaar Watson    6.00
9            Alex Winter    5.10

In [215]:
# Women Swimming DF
womenSwimmingDfs=[dfBrooklynSwimmingWomen,dfBaruchSwimmingWomen,dfQueensSwimmingWomen]
dfSwimmingWomen=pd.concat(womenSwimmingDfs)
print(dfSwimmingWomen)

                  Names  Height
0        Semona Bardman    5.60
1  Angella  Christopher    5.70
2           Anna Curran    5.30
3    Rachel  Davidovich    5.40
4   Shenaika Eliassaint    5.11
5          Julie  Huang    5.10
6      Natalia Mrzyglod    5.50
7        Stella  Ryklis    5.60
8         Alyssa Taylor    5.90
9           Emily  Yang    5.20
0     Scarlet Astudillo    5.40
1        Maria  Fuentes    5.40
2     Joscelyn  Galindo    5.30
3           Dea Gazheli    5.30
4            Amanda Lee    5.10
5         Katherine Lee    5.20
6         Jillian Quinn    5.50
7          Aanya Shukul    5.90
8      Nicole  Tarasiuk    5.70
9           Joyce  Wong    5.40
0     Rupakshi Aggarwal    5.10
1            Asha Besaw    5.40
2             Rory Chea    5.30
3        Claudia Cimino    5.60
4    Laura Cruz Rosario    5.30
5       Natalia Cuttler    5.10
6         Jillian Etnel    5.80
7        Kristen Flores    5.90
8           Alexis Hall    5.20
9          Bianca Hiltz    4.11

In [216]:
# Men Volley Ball Average
dfVolleyMen.mean()

Height    5.96525
dtype: float64

In [217]:
# Women Volley Ball Average
dfVolleyWomen.mean()

Height    5.574615
dtype: float64

In [218]:
# Men Swimming Average
dfSwimmingMen.mean()

Height    5.792973
dtype: float64

In [219]:
# Women Swimming Average
dfSwimmingWomen.mean()

Height    5.380667
dtype: float64

In [220]:
# Top 5 tallest men Volley Ball
dfVolleyMen.nlargest(5, 'Height')

               Names  Height
9       Artem Zinkin     6.5
12  Leon Petrovitsky     6.5
4        Akil Vaughn     6.5
1    Andrew Tsororos     6.4
10   Michael Higgins     6.4

In [221]:
# Top 5 shortest men Volley Ball
dfVolleyMen.nsmallest(5, 'Height')

                 Names  Height
3       Jasper Diangco    5.10
3         Sonam Dorjee    5.10
7  Rabsang Andrugtsang    5.10
5          Justin Saji    5.10
7         Ryan  Chabel    5.11

In [222]:
# Top 5 tallest women Volley Ball
dfVolleyWomen.nlargest(5, 'Height')

              Names  Height
5    Paige Sadowitz     6.2
12  Johnelle Pierre     6.1
8   Julia Perkowski     6.0
4       Faith Harer     6.0
6      Rylea Sandel     6.0

In [224]:
# Top 5 shortest women Volley Ball
dfVolleyWomen.nsmallest(5, 'Height')

                       Names  Height
5                Young Gi Go     5.0
9   Savanna Koutsakis-Keener     5.1
11     Megan Ortiz-Mengedoht     5.1
0                Taylor Hunt     5.1
10           Gabriella Sloan     5.1

In [225]:
# Top 5 tallest men Swimmer
dfSwimmingMen.nlargest(5, 'Height')

              Names  Height
4      Kasper Gacek     6.5
4   Antonio Josephs     6.5
9   Mark  MacEachen     6.4
3  Yousef  Elkhouly     6.3
3    Anthony Jordan     6.3

In [227]:
# Top 5 shortest men Swimmers
dfSwimmingMen.nsmallest(5, 'Height')

               Names  Height
3           Alec Chi     5.1
10        James Rupa     5.1
0      Yair Barrera      5.1
9   Dayan  Ordabayev     5.1
0     Ti’Juan Boothe     5.1

In [228]:
# Top 5 tallest women swimmers
dfSwimmingWomen.nlargest(5, 'Height')

                  Names  Height
8         Alyssa Taylor     5.9
7          Aanya Shukul     5.9
7        Kristen Flores     5.9
6         Jillian Etnel     5.8
1  Angella  Christopher     5.7

In [229]:
# Top 5 shortest women swimmers
dfSwimmingWomen.nsmallest(5, 'Height')

               Names  Height
9       Bianca Hiltz    4.11
5       Julie  Huang    5.10
4         Amanda Lee    5.10
0  Rupakshi Aggarwal    5.10
5    Natalia Cuttler    5.10